@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #00a8ff;
  text-align: center;
  transition: height 0.3s;
}

header h1#site-logo {
  line-height: 1.5;
  font-size: 5rem;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  transition: all 0.3s;
}

header.smaller h1#site-logo {
  line-height: 1;
  font-size: 2rem;
}

#main {
  height: 20000px;
}